#main {
    transform: scale(75%);
}

.bigYellow-Triangle {
    transform: translateX(5rem) translateY(5rem) rotate(360deg);
    transition: transform 1s;
}

.bigGreen-Triangle {
    transform: translateX(0rem) translateY(10rem) rotate(360deg);
    transition: transform 1s;
}

.blue-Triangle {
    transform: translateX(-7.5rem) translateY(10rem) rotate(360deg);
    transition: transform 1s;
}

.red-Square {
    transform: translate(-5rem, 5rem);
    transition: transform 1s;
}

.blue-Parallelogram {
    transform: translateX(3.8rem) translateY(-2.5rem) rotate(360deg);
    transition: transform 1s;
}

.orange-Triangle {
    transform: translateX(0rem) translateY(2.5rem) rotate(360deg);
    transition: transform 1s;
}

.greenSmallTriangle {
    transform: translateX(-5rem) translateY(0rem) rotate(360deg);
    transition: transform 1s;
}