#main {
    transform: scale(75%);
}

.bigYellow-Triangle {
    transform: translateX(-3.3rem) translateY(-1rem) rotate(-135deg);
    transition: transform 1s;
}

.bigGreen-Triangle {
    transform: translateX(5.25rem) translateY(-4.4rem) rotate(90deg);
    transition: transform 1s;
}

.blue-Triangle {
    transform: translateX(2rem) translateY(-16rem) rotate(135deg);
    transition: transform 1s;
}

.red-Square {
    transform: translateX(10.1rem) translateY(.5rem) rotate(90deg);
    transition: transform 1s;
}

.blue-Parallelogram {
    transform: translateX(-2.9rem) translateY(9.8rem) rotate(45deg);
    transition: transform 1s;
}

.orange-Triangle {
    transform: translateX(5.2rem) translateY(3rem) rotate(180deg);
    transition: transform 1s;
}

.greenSmallTriangle {
    transform: translateX(3.1rem) translateY(5.4rem) rotate(-135deg);
    transition: transform 1s;
}