body {
    align-items: center;
}

#block-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block_figure {
    display: flex;
    background-color: white;
    width: 70rem;
    height: 110rem;
    margin: auto;
    position: relative;
    align-content: center;
    text-align: center;
}

.bigYellow-Triangle {
    transform: translateX(9.5rem) translateY(25.5rem) rotate(-135deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.bigGreen-Triangle {
    transform: translateX(16.5rem) translateY(28.5rem) rotate(90deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.blue-Triangle {
    transform: translateX(25rem) translateY(5rem) rotate(135deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.red-Square {
    transform: translateX(36.5rem) translateY(38.5rem) rotate(90deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.blue-Parallelogram {
    transform: translateX(-3.3rem) translateY(62.2rem) rotate(45deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.orange-Triangle {
    transform: translateX(26.45rem) translateY(48.4rem) rotate(180deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}

.greenSmallTriangle {
    transform: translateX(16.5rem) translateY(48.4rem) rotate(-135deg);
    /* transition: transform 2s cubic-bezier(.45, -1.12, .35, 1.78); */
    transition: transform 2s;
}