body{
    margin: 0;
}
#block-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    position: absolute;

}
#bigYellow-Triangle{
    width: 10rem;
    height: 20rem;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color:#f9c30f;
}
#bigGreen-Triangle{
    width: 20rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #33c763;

}

#greenSmallTriangle{
    width: 10rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #8bc03d;
}
#red-Square{
    width: 10rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color:#f96764;
}

#blue-Parallelogram{
    width: 17.5rem;
    height:5rem;
    clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
    background-color: #8f91d7;

}
#orange-Triangle{
    width: 10rem;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #fe9832;


}
#blue-Triangle{
    width: 5rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color:#3396f8;

}
@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);
        transition: transform 1s;
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(75%);
        transition: transform 1s;
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(30%);
        transition: transform 1s;
    }
}
/* nav */
nav {
    display: flex;
    flex-flow: wrap;
}
/* dark mode */
header{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
#button-darkmode{
    margin: 5px;
}
button{
    width: 5rem;
    height: 2rem;
    margin: 2px;
}
button:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: .5s;
    background-color: #9e9e9e;
}
nav {
    margin: 5px;
    justify-content: space-between;
}
.checkbox{
	display: none;
}
.label{
	height: 26px;
	width: 50px;
	background: rgba(29, 29, 29, 0.8);
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative; 
	transform: scale(1.2);
	box-shadow: 1px 1px 1px #ffffff;
}
.label .ball{
	background-color: #aaaaaa;
	border-radius: 50%;
	height: 26px;
	width: 26px;
	position: absolute;
	top: 5px;
	left: 4px;
	transform: translateX(0px);
	transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
}
.checkbox:checked + .label .ball {
	transform: translateX(29px);
}
.bxs-moon{
	color: rgb(233, 233, 233);
}
.jour{
	background-color: #2b2a2a;
	
}

.jour .label {
	box-shadow: 1px 1px 1px #000000;
	background-color: #a7a7a7ee;
}
.jour .label .ball{
	background-color: rgba(29, 29, 29, 0.904);
}

.bxs-moon{
	color: rgba(255, 255, 255, 0.8);
}