.bigYellow-Triangle{
    transform: translateX(5rem) translateY(0rem) rotate(360deg);
    transition: transform 1s ;
}
.bigGreen-Triangle{
    transform: translateX(0rem) translateY(5rem) rotate(360deg);
    transition: transform 1s ;
}

.blue-Triangle{
    transform: translateX(-7.5rem) translateY(5rem) rotate(360deg);
    transition: transform 1s ;
}

.red-Square{
    transform: translate(-5rem,0rem);
    transition: transform 1s ;
}

.blue-Parallelogram{
    transform: translateX(3.7rem) translateY(-7.5rem) rotate(360deg);
    transition: transform 1s ;
    
}
.orange-Triangle {
    transform: translateX(0rem) translateY(-2.5rem) rotate(360deg);
    transition: transform 1s ;
}
.greenSmallTriangle {
    transform: translateX(-5rem) translateY(-5rem) rotate(360deg);
    transition: transform 1s ;
}