
@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);
        transition: transform 1s;
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(50%);
        transition: transform 1s;
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(45%);
        transition: transform 1s;
    }
}

.bigYellow-Triangle {
    transform: translateX(-5rem) translateY(-5rem) rotate(-360deg);
    transition: transform 1s;
}

.bigGreen-Triangle {
    transform: translateX(-10rem) translateY(0rem) rotate(360deg);
    transition: transform 1s;
}

.blue-Triangle {
    transform: translateX(9.3rem) translateY(3.2rem) rotate(135deg);
    transition: transform 1s;
}

.red-Square {
    transform: translateX(4rem) translateY(1.5rem) rotate(45deg);
    transition: transform 1s;
}

.blue-Parallelogram {
    transform: translateX(-5rem) translateY(10rem) rotate(45deg);
    transition: transform 1s;
}

.orange-Triangle {
    transform: translateX(2.2rem) translateY(-3.8rem) rotate(45deg);
    transition: transform 1s;
}

.greenSmallTriangle {
    transform: translateX(1.1rem) translateY(5.6rem) rotate(-135deg);
    transition: transform 1s;
}